mixin transformSize(file)
    - var size = file.size;
    - var unit = "B";
    - if (size > 1024) {
    - 	size = Math.round(size/1024);
    - 	unit = "KiB";
    - }
    - if (size > 1024) {
    - 	size = Math.round(size/1024);
    - 	unit = "MiB";
    - }
    - if (size > 1024) {
    - 	size = Math.round(size/1024);
    - 	unit = "GiB";
    - }
    - var response = file.name + ' (' + size + ' ' + unit + ')';
    = response