extends layout
include _include/common.pug

block extrahead
    link(rel="stylesheet", type="text/css", href="/stylesheets/stili.css")
    link(rel="stylesheet", type="text/css", href="/stylesheets/spinner.css")
    script(src="/javascripts/fribox.js")

block glava
    .loading(style="display: none;") Prosimo, počakajte ...
    glava.navbar.navbar-expand-md.navbar-light.bg-faded
      button.navbar-toggler.navbar-toggler-right(type="button", data-toggle="collapse", data-target="#navigacijskeKontrole", aria-controls="navigacijskeKontrole", aria-expanded="false", aria-label="Toggle navigation")
        a.navbar-toggler-icon
      |     
      a.navbar-brand(href="#")
        img(src="/images/fribox.png")
      |     
      #navigacijskeKontrole.collapse.navbar-collapse
        ul
          form.form-inline.my-2.my-lg-0(action="/fribox", method="post", enctype="multipart/form-data")
            input#datoteka.form-control.mr-sm-2(type="file", name="file")
            | 	  
            button#nalozi.rob.senca.my-2.my-sm-0(type="submit") Naloži novo datoteko

block telo
    telo#datoteke.senca.rob
      each file in files 
        .datoteka.senca.rob
          .naziv_datoteke
          + transformSize(file)
          .akcije
            span
              a(href='/api/file/'+ file.name +'/view', target='_blank') Poglej
            = " | " 
            span
              a(href='/api/file/'+ file.name +'/download', target='_self') Prenesi
            = " |" 
            form(style="display: inline;", action="/fribox/delete", method="post")
              input(type="hidden", name="filename", value=file.name)
              |
              input#izbrisi(type="submit", value="Izbriši", class="linkButton")

block noga
    noga
      img(src="/images/fri.png", width="100px")
