doctype html
html
  head
    meta(charset="utf-8")
    |     
    title ..:: FRIBox Login ::..
    | 	
    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    | 		    
    | 	
    meta(name="viewport", content="width=device-width, initial-scale=1")
    | 	
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
    | 	
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css", integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp", crossorigin="anonymous")
    | 	
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
    | 	
    | 	
    script(src="/javascripts/login.js")
  |   
  |   
  body
    .container
      #loginbox.mainbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2(style="margin-top:50px;")
        img.img-responsive(src="/images/fribox.png", alt="FriBox logo")
        |  
        |   		
        .panel.panel-info
          .panel-heading
            .panel-title
              | Prijava
            |   				
            div(style="float:right; font-size: 80%; position: relative; top:-10px")
              a(href="#") Pozabljeno geslo?
          |   			
          .panel-body(style="padding-top:30px")
            #login-alert.alert.alert-danger.col-sm-12(style="display:none")
            |   				
            - var formClasses = (error ? "has-error" : "")
            form#loginform.form-horizontal(action="/login", role="form", method="post", class=formClasses)
              .input-group(style="margin-bottom: 25px")
                span.input-group-addon
                  i.glyphicon.glyphicon-user
                |  
                |   						
                input#login-username.form-control(type="email", name="email", value=username, placeholder="email", required="")
              |   					
              .input-group(style="margin-bottom: 25px")
                span.input-group-addon
                  i.glyphicon.glyphicon-lock
                |  
                |   						
                input#login-password.form-control(type="password", name="password", value=password placeholder="password", required="")
              |   	
              - if (error)
                #errorMessage.alert.alert-danger(style="margin-bottom: 25px;", role="alert")
                  strong Napaka: 
                  |  Prosimo vnesite ustrezne podatke!
              |   					
              .form-group(style="margin-top:10px")
                .col-sm-12.controls
                  button#btn-login.btn.btn-success(href="#", type="submit") Prijava
                  |  
                  button#btn-fblogin.btn.btn-primary(href="#") Facebook prijava
